# OF
*.app
*.xcuserstate
*.sublime-workspace

# .abc files
/bin/data/abc/_OLD/
/bin/data/abc/inclined-medal/
/bin/data/abc/lightningBolts_9/
/bin/data/abc/oddity-scalop_19/
/bin/data/abc/bassStar/

# xml gui files
/bin/data/GUI/OLD/
/bin/data/GUI/_OLD/

# xml loader files - on git they're blank
#/bin/data/GUI/gui_loader_Settings_1.xml
#/bin/data/GUI/gui_loader_Settings_2.xml
/bin/data/GUI/gui_loader_Settings_3.xml
/bin/data/GUI/gui_loader_Settings_4.xml
/bin/data/GUI/gui_loader_Settings_5.xml
/bin/data/GUI/gui_loader_Settings_6.xml

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

